<!DOCTYPE html>
<html>
  <head>
    <title>AHANA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-color-blue">
  
  


  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd !important;">
  <div class="container-fluid">
    <img src="https://www.eluniversal.com.mx/sites/default/files/2020/08/14/errores_pueden_matar_suculentas.jpg" width="6%" style="
    width: 6%;
    margin-right: 8px;
    "> 
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="contactenos">Contactenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="suculentas">Suculentas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cuidados">Cuidados</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="container">
    <%= yield %>
</section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
